html, body
{
    margin: 0;
    height: 100%;
}

.zero
{
    margin: 0;
    padding: 0;
}

.noir
{
    color: black;
}

.blanc
{
    color: white;
}

.bleu
{
    color: deepskyblue;
}

.bgBanniere
{
    background-image: url("../img/banniere.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bgContact
{
    background-image: url("../img/contact.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bgBleu
{
    background-color: deepskyblue;
}

.bgRouge
{
    background-color: #ff0000;
}

.paddingFooter
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.paddingBtnSubmit
{
    padding-top: 15px;
}

.padding
{
    padding-top: 25px;
    padding-bottom: 25px;
}

.paddingInfo
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.paddingFontAwesome
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.paddingBottom
{
    padding-bottom: 50px;
}

.portfolio
{

}

.row100
{
    height: 100%;
}

.row75
{
    height: 75%;
}

.row37
{
    height: 37.5%;
}

.row25
{
    height: 25%;
}

.parallax
{
    background-image: url("../img/parallaxe1.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2
{
    background-image: url("../img/parallaxe2.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 480px) {
    .bgBanniere
    {
        background-image: url("../img/banniereCell.jpg");
    }
}

@media screen and (min-width: 481px) and (max-width: 1199px){
    .bgBanniere
    {
        background-image: url("../img/banniereTablette.jpg");
    }
}

/* Menu navbar */
.navbar {
    /*background-color: #ff0000;*/
    background-color: deepskyblue;
}
.navbar .navbar-brand {
    color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}
.navbar .navbar-text {
    color: #000000;
}
.navbar .navbar-text a {
    color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ffffff;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #000000;
}
.navbar .navbar-toggle {
    border-color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #000000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000000;
}
.navbar .navbar-link {
    color: #000000;
}
.navbar .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #000000;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #000000;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #000000;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ffffff;
        background-color: #000000;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #000000;
}